* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  font-family: 'Roboto', sans-serif;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: hidden;
}

h1 {
  color: #dbccc0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1;
}

p {
  text-transform: uppercase;
  color: #dbccc0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

button {
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin: 0.25em 0;
  padding: 0.3em 0.75em 0.25em 0.75em;
  color: #0f0f0f;
  background-color: #dbccc0;
  border-radius: 2em
}

section {
  position: relative;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}

.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

section.projects {
  width: 100vh;
  height: 125h;
  display: flex;
  gap: 10em;
}

.project-brief {
  position: absolute;
  width: 25%;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.projects .col {
  position: relative;
}

.col.projects-cover {
  flex: 1;
  height: 50%;
}

.col.projects-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about {
  display: flex;
  background-color: #68461f;
}

.intro, .portrait {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}